@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@charset "utf-8";
@import 'variables.scss';

body {
  width:100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

.invert-color{
  color: $box-color;
}
.reg-color{
  color: $text-color;
}
.text-heavy{
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 280%;
}

//navbar
.navbar-light .navbar-brand{
  color: $text-color;
  font-size: 3.25rem;
}
.navbar-light .navbar-nav .nav-link {
  color: $text-color;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: $heavy-text-color;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $heavy-text-color;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    margin-left: auto;
}

//list-group
.todo-title {
  cursor: pointer;
}
.completed-todo {
  text-decoration: line-through;
}
.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: #282c34;
  color: #ffffff;
}
