@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@charset "utf-8";
@import 'variables.scss';

body {
  width:100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

.invert-color{
  color: $box-color;
}
.reg-color{
  color: $text-color;
}
.text-heavy{
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 280%;
}

//navbar
.navbar-light .navbar-brand{
  color: $text-color;
  font-size: 2.5rem;
}
.navbar-light .navbar-nav .nav-link {
  color: $text-color;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: $heavy-text-color;
  border-radius: 0%;
  transition: 0.3s;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $heavy-text-color;
  border-bottom: $heavy-text-color;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    margin-left: auto;
}
.navbar-toggler{
  border-radius: 0%;
}
//card
.card{
  background-color: $box-color;
  border-radius: 0%;
}
//list-group
.todo-title {
  cursor: pointer;
}
.completed-todo {
  text-decoration: line-through;
}
.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 0%;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: $bg-color;
  color: $box-color;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: $box-color;
}
.border-top {
    border-top: 1px solid $bg-color!important;
}

//Modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $box-color;
    background-clip: padding-box;
    border: 1px solid black;
    border-radius: 0%;
    outline: 0;
}
.modal-header {
  border-bottom: 1px solid $bg-color;
}
.modal-footer {
  border-top: 1px solid $bg-color;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $box-color;
    background-color: $bg-color;
    background-clip: padding-box;
    border: 1px solid $bg-color;
    border-radius: 0%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control::placeholder {
    color: $box-color;
    background-color: $bg-color;
}
.form-control:focus{
    color: $box-color;
    background-color: $bg-color;
}
