//Custom variables
$font-stack: 'DM Sans', sans-serif;
$bg-color: #faf3dd;
$text-color: #68b0ab;
$box-color: #c8d5b9;
$button-color: #8fc0a9;


// Bootstrap Variables
.jumbotron { background-color: $bg-color; }
