//Custom variables
$font-stack: 'DM Sans', sans-serif;
$bg-color: #000000;
$text-color: #faf3dd;
$box-color: #ffde59;
$heavy-text-color: #d1c395;



// Bootstrap Variables
.jumbotron { background-color: $bg-color; }
.btn-primary {
  background-color: $box-color;
  border-color: $bg-color;
  border-radius: 0%;
  color: $bg-color;
}
.btn-primary:hover{
  background-color: $bg-color;
  color: $box-color;
  border-color: $bg-color;
}
.btn-secondary{
  background-color: $box-color;
  border-color: $bg-color;
  border-radius: 0%;
  color: $bg-color;
}
.btn-secondary:hover{
  background-color: $bg-color;
  color: $box-color;
  border-color: $bg-color;
}
.btn-danger{
  background-color: $bg-color;
  border-color: $bg-color;
  border-radius: 0%;
  color: $box-color;
}
